  <div class="container">
    <h1>Stupid Coaching</h1>
    <form action="answer" data-turbo="false">
      <input type="text" name="question" placeholder="Ask your question">
      <input class="btn btn-primary" type="submit" value="Ask!">
    </form>
  <div>
